body {
  padding: 20px;
  background-color: #444;
}
#gridContainer {
  display: flex;
  padding-bottom: 10px;
  text-align: center;
}
.controls {
  text-align: center;
  
}
table {
  background-color: gray;
  border-spacing: 0px;
}
td {
  border: 1px solid rgb(90, 90, 90);
  width: 20px;
  height: 20px;
}
#title {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button {
  background-color: #888;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  border-color: black;
}
td.dead {
  background-color: transparent;
}
td.live {
  background-color: white;
}